* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/*.column1 {*/
/*    display: inline-block;*/
/*    width: 49%;*/
/*}*/

/*.column2 {*/
/*    display: inline-block;*/
/*    vertical-align: center;*/
/*    width: 50%;*/
/*}*/

img {

    max-width:100%;
    max-height:100%;

}


.row {
    display: flex;
}

.column {
    flex: 50%;
}
.grandote {
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
    margin-block-start: 0;

}

.grandote-no {
    display: none;
}

.marquee {
    color: white;
    overflow: hidden;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    background: none;
    width: 100%;
}
h3{

    margin-block-start: 0;
    position: absolute;
    top: 10px;
}




.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 100px;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
